*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/pixabay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.row{
    width: 100%;
}
.main{
    position: relative;
}
.btn1{
    background-color: #d99101;
    color: #ffffff;
    width: 100%;
}
.btn1:hover{
    background-color: #c18100;
    color: #ffffff;
}
.btn2{
        background-color: rgb(0, 120, 0);
}
.btn2:hover{
    background-color: rgb(0, 50, 0);
}
.btn3{
    background-color: rgb(200, 0, 0);
}
.btn3:hover{
    background-color: rgb(50, 0, 0);
}
#error{
    color: red;
    font-weight: 800;
}
@media (max-width:576px){
    .btn1{
        width: 20%;
    }
}

